[variables]
    NIXPACKS_METADATA = 'python'

[phases.setup]
    nixPkgs = ['python311', 'ffmpeg']

[phases.install]
    cmds = ['python -m pip install -r Backend/requirements.txt']

[start]
    cmd = 'uvicorn Backend.main:app --host 0.0.0.0 --port $PORT'