[variables]
    NIXPACKS_METADATA = 'python'
    PYTHONPATH = '.'

[phases.setup]
    nixPkgs = ['python311', 'python311Packages.pip', 'ffmpeg']

[phases.install]
    # The --break-system-packages flag is the key here
    cmds = ['pip install --break-system-packages -r Backend/requirements.txt']

[start]
    cmd = 'python -m uvicorn Backend.main:app --host 0.0.0.0 --port $PORT'