[variables]
    NIXPACKS_METADATA = 'python'
    PYTHONPATH = '/app'

[phases.setup]
    nixPkgs = ['python311', 'python311Packages.pip', 'ffmpeg']

[phases.install]
    cmds = ['pip install --break-system-packages -r Backend/requirements.txt']

[start]
    # We run the file directly as a script so the __name__ == "__main__" block triggers
    cmd = 'python Backend/main.py'